name: "Get Task"

on: workflow_dispatch


permissions:
  id-token: write
  contents: read

jobs:
  BuildImage:
    runs-on: ubuntu-latest
    env:
        IMAGE_NAME: appsgettask
        IMAGE_TAG: v1
        ACR_NAME: appsacrrrrrr
        ACR_LOGIN_SERVER: appsacrrrrrr.azurecr.io
        

    steps:
      - name: Checkout code
        uses: actions/checkout@v3


      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

          
          
      - name: Log in to ACR (Admin)
        run: |
          az acr login --name $ACR_NAME
      - name: Build Docker Image
        run: sudo docker build -t $IMAGE_NAME:$IMAGE_TAG .

      - name: Tag Docker Image for ACR
        run: docker tag $IMAGE_NAME:$IMAGE_TAG $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG

      - name: Push Docker Image to ACR
        run: docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG
